ABUSEIPDB_API_KEY=#insert_key

VIRUSTOTAL_API_KEY=#insert_key

OTX_API_KEY=#insert_key

GREYNOISE_API_KEY=#insert_key

SHODAN_API_KEY=#insert_key

IPQUALITYSCORE_API_KEY=#insert_key

ACCESS_TOKEN_SECRET=#insert_secret

REFRESH_TOKEN_SECRET=#insert_secret

MYSQL_ROOT_PASSWORD=#insert_pass

MYSQL_DATABASE=deepguard_db

MYSQL_USER=deepguard_app

MYSQL_PASSWORD=#insert_pass